<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container mx-auto">
        @RenderBody()
    </div>
    <script type="module" src="http://localhost:5173/src/main.ts"></script>
</body>
</html>